/* ====== VARIABLES ====== */


/* Color Settings */
$debug-color: inherit; //#88f;
$player-background: #333333;
$player-font-color: #dddddd;
$play-button-color: #3aca2d;
$stop-button-color: #ff4444;
$skip-button-color: #ff4444;
$seek-progress-color: #ff0000;
$seek-total-color: #ffffff;

/* Player Settings */
$mini-player-height: 50px;
$player-toggle-speed: .5s;


/* ====== MIXINS ====== */



// Player open and close operation
@mixin player-transition($properties) {
  transition: $properties;
  -webkit-transition: $properties;
}


/* ====== UTILITY ====== */
.show {
  display: block;
}


/* ====== PLAYER ====== */


.player-wrapper {
  background-color: $player-background;
  bottom: -100vh;
  color: $player-font-color;
  display: block;
  height: 100vh;
  max-width: inherit;
  overflow: hidden;
  position: fixed;
  width: 100%;
  @include player-transition(bottom $player-toggle-speed);

  //  -  Mini Player  -  \\
  .mini-player {
    align-items: center;
    display: none;
    flex-wrap: nowrap;
    height: $mini-player-height;
    position: relative;
    max-width: 100%;

    .player-title {
      margin: 0;
      overflow: hidden;
      width: calc(100% - 100px);
    }
  }

  //  -  Player Header Styles  -  \\
  .player-header {
    background-color: $debug-color;
    height: 10%;
    position: relative;
    text-align: center;

    .header-title {
      font-size: 1em;
      margin-top: 5px;
      width: 100%;

      .header-subtitle {
        display: block;
        font-weight: bold;
      }
    }
  }

  //  -  Player Image Styles  -  \\
  .player-image {
      margin: auto;
      width: 50%;

    img {
      display: inline-block;
      width: 100%;
    }
  }

  //  -  Player Bottom Wrapper  -  \\
  .player-bottom-wrapper {
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }

  //  -  Player Title Styles  -  \\
  .player-title {
    background-color: $debug-color;
    max-height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    text-align: center;
  }

  //  -  Player Seek Bar  -  \\
  .player-seek {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;


    .progress-bar {
      margin: auto;
      width: 90%;
    }


    #progress-total {
      background-color: #ddd;
      border-radius: 15px;
      flex-grow: 5;
      height: 10px;
      overflow: hidden;
      width: 100%;
    }

    #progress-actual {
      background-color: red;
      height: 100%;
      width: 0;
    }

    .timing {
      color: #ddd;
      font-size: 1em;
      text-align: center;
      width: 25%;
    }
  }

  //  -  Player Control Panel Styles  -  \\
  .player-control-panel {
    align-items: center;
    background-color: $debug-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  //  -  Player Button Styles  -  \\
  .player-controls {
    align-items: center;
    //background-color: rgba(255,255,255,.5);  // TODO - Remove when complete
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    font-size: 2em;
    justify-content: space-around;
    position: relative;
  }

  #button-play {
    color: $play-button-color;
    font-size: 2.8em;
    height: 65px;
    width: 65px;
  }

  #button-play-2 {
    color: $play-button-color;
    //float: right;
    font-size: 1.5em;
    height: $mini-player-height;
    //position: absolute;
    width: $mini-player-height;
  }

  #button-shrink {
    color: $stop-button-color;
    float: left;
    font-size: 1.5em;
    height: 45px;
    position: absolute;
    width: 45px;
  }

  #button-close {
    color: $stop-button-color;
    //float: left;
    font-size: 1.5em;
    height: $mini-player-height;
    //position: absolute;
    width: $mini-player-height;
  }

  #button-backward {
    color: $skip-button-color;
    font-size: 1.7em;
    height: 45px;
    width: 45px;
  }

  #button-forward {
    color: $skip-button-color;
    font-size: 1.7em;
    height: 45px;
    width: 45px;
  }
} //.player-wrapper