/* ====== VARIABLES ====== */
/* Color Settings */
/* Player Settings */
/* ====== MIXINS ====== */
/* ====== UTILITY ====== */
.show {
  display: block; }

/* ====== PLAYER ====== */
.player-wrapper {
  background-color: #333333;
  bottom: -100vh;
  color: #dddddd;
  display: block;
  height: 100vh;
  max-width: inherit;
  overflow: hidden;
  position: fixed;
  width: 100%;
  transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s; }
  .player-wrapper .mini-player {
    align-items: center;
    display: none;
    flex-wrap: nowrap;
    height: 50px;
    position: relative;
    max-width: 100%; }
    .player-wrapper .mini-player .player-title {
      margin: 0;
      overflow: hidden;
      width: calc(100% - 100px); }
  .player-wrapper .player-header {
    background-color: inherit;
    height: 10%;
    position: relative;
    text-align: center; }
    .player-wrapper .player-header .header-title {
      font-size: 1em;
      margin-top: 5px;
      width: 100%; }
      .player-wrapper .player-header .header-title .header-subtitle {
        display: block;
        font-weight: bold; }
  .player-wrapper .player-image {
    margin: auto;
    width: 50%; }
    .player-wrapper .player-image img {
      display: inline-block;
      width: 100%; }
  .player-wrapper .player-bottom-wrapper {
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%; }
  .player-wrapper .player-title {
    background-color: inherit;
    max-height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    text-align: center; }
  .player-wrapper .player-seek {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0; }
    .player-wrapper .player-seek .progress-bar {
      margin: auto;
      width: 90%; }
    .player-wrapper .player-seek #progress-total {
      background-color: #ddd;
      border-radius: 15px;
      flex-grow: 5;
      height: 10px;
      overflow: hidden;
      width: 100%; }
    .player-wrapper .player-seek #progress-actual {
      background-color: red;
      height: 100%;
      width: 0; }
    .player-wrapper .player-seek .timing {
      color: #ddd;
      font-size: 1em;
      text-align: center;
      width: 25%; }
  .player-wrapper .player-control-panel {
    align-items: center;
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .player-wrapper .player-controls {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    font-size: 2em;
    justify-content: space-around;
    position: relative; }
  .player-wrapper #button-play {
    color: #3aca2d;
    font-size: 2.8em;
    height: 65px;
    width: 65px; }
  .player-wrapper #button-play-2 {
    color: #3aca2d;
    font-size: 1.5em;
    height: 50px;
    width: 50px; }
  .player-wrapper #button-shrink {
    color: #ff4444;
    float: left;
    font-size: 1.5em;
    height: 45px;
    position: absolute;
    width: 45px; }
  .player-wrapper #button-close {
    color: #ff4444;
    font-size: 1.5em;
    height: 50px;
    width: 50px; }
  .player-wrapper #button-backward {
    color: #ff4444;
    font-size: 1.7em;
    height: 45px;
    width: 45px; }
  .player-wrapper #button-forward {
    color: #ff4444;
    font-size: 1.7em;
    height: 45px;
    width: 45px; }
