/*
 * File Name: styles.css
 * Author: Timothy Roush
 * Date Created: 10/07/17
 * Assignment: Behind The Knife: The Surgery Podcast
 * Description:  Styles for use in the podcast web app
*/


/* ====== EXTERNAL FONTS ====== */


@import url('https://fonts.googleapis.com/css?family=Telex');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


/* ====== GLOBAL ====== */


html {
    height: 100%;
    position: relative;
}

body {
    background-color: #444;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    height: 100%;
    position: relative;
}

a, a:hover, .pc-title:hover {
    text-decoration: none;
}

.wrapper {
    background-color: #fff;
    box-sizing: border-box;
    margin: auto;
    max-width: 400px;
    min-height: 100%;
    padding: 20px 20px 0;
    position: relative;
    width: 100%;
}

.title {
    font-family: "Telex", sans-serif;
    font-size: 3em;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .15em;
    margin: 5px 0 25px 0;
    text-align: center;
}

.subtitle {
    color: #8282a1;
    font-size: 1.5em;
    margin: -25px 0 80px 0;
    text-align: center;
}


/* ====== ALTERNATE HEADER ====== */


.nav-header-buffer {
    height: 50px;
    width: 100%;
}


nav.nav-header {
    align-items: center;
    background-color: rgba(0,0,0,.7);
    display: flex;
    height: 50px;
    margin: 0 -20px;
    max-width: inherit;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: height .5s ease-out;
    transition: height 2s ease;
    width: 100%;
}

.nav-header .nav-button {
    color: #ddd;
    display: inline-block;
    flex-grow: 1;
    /*font-size: 2em;*/
    margin: 0;
    padding: 10px;
    text-align: center;
}


/* ====== ALTERNATE FOOTER NAV ======*/

footer {
    background-color: #333;
    bottom: 0;
    height: 90px;
    margin: 0 -20px;
    max-width: inherit;
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: height 2s;
    -webkit-transition: height 2s;
}


.nav-buffer {

    height: 90px;
    width: 100%;
}


nav.nav-footer {
    align-items: center;
    display: flex;
    height: 45px;
    width: 100%;
}

.hidden {
    height: 0;
    transition: height 2s;
    -webkit-transition: height 2s;
}

.nav-footer .nav-button {
    color: #ddd;
    display: inline-block;
    flex-grow: 1;
    /*font-size: 2em;*/
    margin: 0;
    padding: 10px;
    text-align: center;
}


/* ====== LANDING ====== */


.logo {
    margin: auto;
    width: 100%;
}


/* ====== HOME ====== */


.newest-button {
    border: 2px solid #f44;
    border-radius: 15px;
    display: flex;
    padding: 20px 20px;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.newest-button p {
    display: inline-block;
    font-size: 2.2em;
    font-weight: bold;
    margin: 0;
    width: 75%;
    text-transform: capitalize;
}

.newest-button div.play {
    border-bottom: 23px solid transparent;
    border-left: 55px solid #f44;
    border-top: 23px solid transparent;
    display: inline-block;
    height: 0;
    position: relative;
    margin: auto;
    width: 0;
}

a .newest-button, a .newest-button:hover  {
    color: #000;
    text-decoration: none;
}

.headline {
    color: #8282a1;
    font-size: 2.5em;
    font-weight: normal;
    margin: 40px 2px 15px 2px;
    text-transform: capitalize;
}

.topic-wrapper {
    margin: 0 -13px;
    position: relative;
}

.topic {
    border: 1px solid #8282a1;
    border-radius: 10px;
    box-shadow: 0 6px 6px -6px #8282cc;
    float: left;
    font-size: 1.5em;
    margin: 7px 9px;
    padding: 10px;
    text-align: center;
    width: calc(50% - 18px);
}

a .topic, a .topic:hover  {
    color: #8282a1;
    text-decoration: none;
}


/* ====== TOPIC PODCASTS ====== */


.pc-row {
    display: flex;
    padding: 5px;
    width: 100%;
}

a .pc-row, a .pc-row:hover  {
    color: #8282a1;
    text-decoration: none;
}

a .pc-row:hover {
    background-color: #eee;
}

.pc-title {
    color: #8282a1;
    font-size: 1.5em;
    text-align: center;
    width: 50%;
}

.pc-content {
    border: 1px solid #000;
    width: 50%;
}

.pc-progress-bar {
    background-color: #ff0000;
    height: 100%;
    left: 0;
    position: relative;
    width: 35%;
}


/* ====== ALTERNATE TOPIC PODCASTS & PODCAST RESULTS ====== */

.pc-title-div {
    color: #8282a1;
    text-align: center;
}

.new-pc-row {
    -webkit-box-shadow: 0 3px 3px -3px #444;
    -moz-box-shadow: 0 3px 3px -3px #444;
    box-shadow: 0 3px 3px -3px #444;
    font-size: 1em;
    padding: 15px 10px;
    width: 100%;
}

.new-pc-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-pc-desc {
    font-size: .7em;
    word-wrap: break-word;
}

/* Podcast desc in results are hidden/collapsed at start */
.pc-description {
    display: none;
    padding-top: 15px;
}

.new-pc-duration {
    font-size: .7em;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.open {
    font-weight: bold;
}


/* ====== ALTERNATE PLAYER ====== */


#play {
    color: green;
}

#close, #download {
    color: red;
}

#forward, #backward {
    color: #4682b4;
}

#progress-total {
    background-color: #ddd;
    border-radius: 15px;
    height: 10px;
    overflow: hidden;
    width: 100%;
}

#progress-actual {
    background-color: red;
    height: 100%;
    width: 0;
}

.player {
    align-items: center;
    display: flex;
    font-size: 2em;
    height: 45px;
    position: relative;
    width: 100%;
}

.player-controls {
    align-items: center;
    display: flex;
    width: 100%;
}

.timing {
    color: #ddd;
    font-size: .5em;
    text-align: center;
    width: 25%;
}

.progress-bar {
    width: 50%;
}


/* ====== PLAYER ====== */


.player-image {
    box-shadow: 0 5px 15px -5px #8282cc;
    width: 100%;
}

.player-description {
    color: #8282a1;
    font-size: 1.8em;
    margin-top: 25px;
    text-align: center;
}

.player-author {
    color: #8282a1;
    font-size: 1.8em;
}

.player-title {
    color: #f00;
    font-size: 1.8em;
}

.player-progress-full {
    border: 1px solid #000;
    height: 20px;
    position: relative;
    width: 100%;
}

.player-progress {
    background-color: #f00;
    height: 100%;
    right: 0;
    position: relative;
    width: 35%;
}

.player-time {
    display: flex;
    justify-content: space-between;
}

.time-remaining {
    color: #8282a1;
    font-size: 1.8em;
    text-align: left;
}

.time-total {
    color: #8282a1;
    font-size: 1.8em;
    text-align: right;
}
