# Should prevent the need for rebuilding Composer after each git pull
# If you find the below files and folder still being pushed/pulled run the
# following commands from the surgery-podcast folder in a git bash console:
# git rm --cached composer.lock
# git rm --cached composer.phar
# git rm --cached /vendor/



composer.lock
composer.phar
/.idea/
/vendor/
error_log
/tmp/
