<!--
 * File Name: about.html
 * Author: Marlene Leano
 * Date Created: 11/30/2017
 * Assignment: Behind The Knife: The Surgery App
 * Description:  The About Us page for Behind the Knife
-->

<include href="includes/header.inc.html">
    
    <h1 id="about-us-heading">About Us</h1>
    
    <repeat group="{{ @hosts }}" value="{{ @host }}">
        <div class="podcasthost">
            <h2 class="name">{{ @host->getFirstName() }} {{ @host->getLastName() }}</h2>
            
            <img class="profile-pic" src="{{ @BASE }}/img/{{ @host->getImage() }}"
                 alt="Picture of {{ @host->getFirstName() }} {{ @host->getLastName() }}" />
            
            <p class="bio">
                {{ @host->getBio() }} 
            </p>
        </div>
    </repeat>
 
        
<include href="{{ @INC . 'footer.inc.html' }}">