<!--
 * File Name: about.html
 * Author: Marlene Leano
 * Date Created: 11/30/2017
 * Assignment: Behind The Knife: The Surgery App
 * Description:  The About Us page for Behind the Knife
-->

<include href="includes/header.inc.html">
    
    <h1 id="about-us-heading">About Us</h1>
    
    <div class="podcasthost">
        <h2 class="name">Kevin Kniery</h2>
        
        <img class="profile-pic" src="{{ @IMG . 'Kevin-R-Kniery.jpg' }}" alt="Picture of Dr. Kevin Kniery" />
        <p class="bio">
            Kevin is a general surgery resident in Washington State going into his third
            clinical year. He is finishing up a year in the lab where he worked on improving
            functional outcomes in limb transplants using a rat model, and also started
            a project evaluating novel compounds to prevent abdominal adhesions. He went to
            the United States Military Academy at West Point, NY, for his undergraduate degree
            and Tulane for his MD and MPH. His fellowship interests include transplant, colorectal,
            and vascular surgery.
        </p>
    </div>
        
    <div class="podcasthost">
        <h2 class="name">Jason Bingham</h2>
        
        <img class="profile-pic" src="{{ @IMG . 'Jason-Bingham.jpg' }}" alt="Picture of Dr. Jason Bingham" />
        <p class="bio">
            Jason is a general surgery resident in Washington State. He attended New York University for his
            undergraduate degree and the Uniformed Services University of Health Sciences in Bethesda, MD for
            his MD. His educational and research contributions include the establishment of a microsurgery
            training program at his home institution as well as work investigating the role of mesenchymal stem
            cells in limb transplantation. Additionally, he has several peer-reviewed publications and book
            chapters in the fields of bariatrics, oncology, and colorectal surgery. His fellowship interests
            include colorectal surgery, transplant, and surgical oncology.
        </p>
    </div>
    
    <div class="podcasthost">
        <h2 class="name">John McClellan</h2>
        
        <img class="profile-pic" src="{{ @IMG . 'McClellan-ACS-Photo.jpeg' }}" alt="Picture of Dr. John McClellan" />
        <p class="bio">
            John is a general surgery resident in Washington State, but originally from small town Pennsylvania. He is
            currently in his 4th clinical year. John went to Mercyhurst University in Erie, PA for his undergraduate
            degree and ROTC commission. He completed his medical degree at Uniformed Services University of the Health
            Sciences in Bethesda, MD. John has specific interests in humanitarian and deployment medicine. Will continue
            after graduating residency as a General Surgeon and is considering future fellowship options.
        </p>
    </div>
    
    <div class="podcasthost">
        <h2 class="name">Scott Steele</h2>
        
        <img class="profile-pic" src="{{ @IMG . 'Scott-Steele.jpg' }}" alt="Picture of Dr. Scott Steele" />
        <p class="bio">
            Scott R. Steele Dr. Steele is the Chair of Colorectal Surgery at Cleveland Clinic in Cleveland, OH.
            He is on the editorial board for 7 national surgical journals including Annals of Surgery and DC&R,
            serves as the the Colon & Rectal Surgery Community Editor for the American College of Surgeons, and
            is a reviewer for 22 additional peer-reviewed journals.  He is also a member of the American Board of
            Colon and Rectal Surgery.  As a graduate of the United States Military Academy at West Point, NY, he
            was an active duty Army officer, serving as the Chief of Colorectal Surgery at Madigan Army Medical
            Center, Fort Lewis, WA. He has served 4 combat tours in Iraq and Afghanistan, being awarded the Combat
            Medical Badge amongst others. His contributions to the medical literature include over 140 peer-reviewed
            articles, 60 invited reviews and book chapters, 12 national practice parameters, guest editor for 5 volumes
            dedicated to colorectal disease, and currently is an editor on 4 textbooks in colorectal surgery.
        </p>
    </div>
        
<include href="{{ @INC . 'footer.inc.html' }}">