<!--
 * File Name: admin.html
 * Author: Timothy Roush
 * Date Created: 12/03/17
 * Assignment: Behind The Knife: The Surgery App
 * Description:  Admin portal for The Surgery Podcast app
-->

<include href="{{ @INC . 'header.inc.html' }}" />
<div class="wrapper">
    
    <a href="{{ @BASE }}/logout"><button id="logout-btn">LOGOUT</button></a>
    
    <h1>The Surgery Podcast - Admin Portal</h1>
    <h2>Database Refresh</h2>
    <h2>Topic Priorities</h2>

                <!-- TODO: REMOVE INLINE STYLE -->
                <div class="hidden" id="priority-option-template" style="display:none;">
                    <repeat group="{{ @topics }}" value="{{ @topic }}">
                        <option value="{{ @topic }}">{{ @topic }}</option>
                    </repeat>
                </div>

    <form action="{{ @BASE . '/priority' }}" method="POST">
        <div class="priority-container">
            <repeat group="{{ @priorities }}" value="{{ @record }}" counter="{{ @ctr }}">
                <div class="priority-row" data-row="{{ @ctr }}">
                    <div class="priority-number">{{ @ctr }}</div>
                    <div class="priority-topic">
                        <select name="{{ 'priority-' . @ctr }}" id="{{ 'priority-' . @ctr }}">
                            <repeat group="{{ @topics }}" value="{{ @topic }}">
                                <option value="{{ @topic }}" {{ @topic==@record?'selected="selected"':'' }}>{{ @topic }}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="priority-button priority-up" data-toggle="button-up"><i class="fa fa-arrow-up"></i></div>
                    <div class="priority-button priority-down" data-toggle="button-down"><i class="fa fa-arrow-down"></i></div>
                    <div class="priority-button priority-remove" data-toggle="button-delete"><i class="fa fa-times"></i></div>
                </div>
            </repeat>
        </div>
        <input type="hidden" id="priority-count" name="count" value="{{ @ctr }}" />
        <button type="button" name="add" id="button-add">Add</button>
        <button type="submit" name="action" value="priority">Save</button>
    </form>

    <h2>About Us Content</h2>
    <table id="hosts-table">
        <thead>
            <th class="name">Name</th>
            <th class="edit">Update</th>
            <th class="delete">Delete</th>
        </thead>
        <tbody>
            <repeat group="{{ @hosts }}" value="{{ @host }}">
                <tr>
                    <td class="name">{{ @host->getFirstName() }} {{ @host->getLastName() }}</td>
                    <td class="edit">
                        <a href="{{ @BASE }}/editHost/{{ @host->getHostId() }}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td class="delete">
                        <a class="delete-host" href="{{ @BASE }}/deleteHost/{{ @host->getHostId() }}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>
    <a href="{{ @BASE }}/new-host"><button id="new-host-btn" type="button">ADD HOST</button></a>
    


</div>
<include href="{{ @INC . 'footer.inc.html' }}" />