<!--
 * File Name: home.html
 * Author: Timothy Roush
 * Date Created: 10/07/17
 * Assignment: Behind The Knife: The Surgery App
 * Description:  Landing page for a podcast app
-->

<include href="includes/header.inc.html">

<!--<h1 class="title">BTK Podcast App</h1>

<a href="play">
    <div class="newest-button">
        <p>Listen to Newest Episode Here</p>
        <div class="play"></div>
    </div>
</a>-->

<!--Image of the logo-->
<img id="btk-logo" src="{{ @IMG . 'BTK_logo_large.jpg' }}" alt="Behind the Knife Logo" />

<!--Welcome Message-->
<h2 id="welcome-title">Welcome to Behind the Knife</h2>

<p id="welcome-message">These surgery podcasts are aimed for everyone interested in an in-depth look at the broad range of
    surgical topics. Come take a "behind the scenes" look at the interesting, controversial, and humanistic side of surgery
    from some of the giants in the field.
</p>

<!--Most Recent Episodes-->
<h3 class="other-headings">Most Recent Episodes</h3>

<repeat group="{{ @podcasts }}" value="{{ @podcast }}">
    <div class="recent-pc-row">
        <div class="pc-title hide-title" data-url="{{ @podcast->getUrl() }}">
            <span class="publish-date">{{ @podcast->getPublishDate() }}</span>
            {{ @podcast->getTitle() }}
        </div>
        <div class="pc-description">
            <div class="pc-desc">
                {{ @podcast->getDescription() }}
            </div>
            <div class="pc-duration">
                {{ @podcast->getDuration() }}
            </div>
        </div>
    </div>        
</repeat>

<!--Episodes by Topic-->
<h3 class="other-headings">Episodes by Topic</h3>

<!--Search bar-->


<!--Topic Buttons-->
<div class="topic-wrapper">
    <repeat group="{{ @topics }}" value="{{ @topic }}">
        <a href="{{ @BASE . '/topic/' . @topic }}">
            <div class="topic">
                {{ @topic }}
            </div>
        </a>
    </repeat>
</div>


<include href="{{ @INC . 'footer.inc.html' }}">