<!--
 * File Name: login.html
 * Author: Marlene Leano
 * Date Created: 11/29/2017
 * Assignment: Behind The Knife: The Surgery App
 * Description:  Admin login page
-->

<include href="includes/header.inc.html">
    
    <!--Login Form-->
    <form action="{{ @BASE }}/admin" method="post">
        <input id="username" type="text" name="username" placeholder="enter username" value="{{ @username }}"/>
        
        <!--If client-side username validation fails-->
        <div class="client-side-error">
            <strong>Error: </strong><span id="username-error"></span>
        </div>

        <input id="password" type="password" name="password" placeholder="enter password" value="{{ @password }}"/>
        
        <!--If client-side password validation fails-->
        <div class="client-side-error">
            <strong>Error: </strong><span id="password-error"></span>
        </div>
        
        <!--If client-side login validation fails-->
        <div class="client-side-error">
            <strong>Error: </strong><span id="login-error"></span>
        </div>
        
        <!--If server-side validation fails-->
        <check if="{{ @errors }}">
            <div class="server-side-error">
                <strong>Error: </strong>
                <repeat group="{{ @errors }}" value="{{ @error }}">
                    <p>- {{ @error }}</p>
                </repeat>
            </div>  
        </check>
        
        <button id="login-btn" type="submit">LOGIN</button>
    </form>
        
<include href="{{ @INC . 'footer.inc.html' }}">