<!--
 * File Name: login.html
 * Author: Marlene Leano
 * Date Created: 11/29/2017
 * Assignment: Behind The Knife: The Surgery App
 * Description:  Admin login page
-->

<include href="includes/header.inc.html">
    
    <!--Login Form-->
    <form action="" method="post">
        <input id="username" type="text" name="username" placeholder="enter username" />
        <input id="password" type="password" name="password" placeholder="enter password"/>
        <button id="login-btn" type="submit">LOGIN</button>
    </form>
        
<include href="{{ @INC . 'footer.inc.html' }}">