<!--
 * File Name: newtopic.html
 * Author: Timothy Roush
 * Date Created: 10/23/17
 * Assignment: Behind The Knife: The Surgery App
 * Description:  Alternate Page that lists podcasts related to selected topic
-->

<include href="{{ @INC . 'new-header.inc.html' }}">

<h1 class="title">Surgery Legends</h1>
<div class="subtitle">click to play</div>


<div class="new-pc-row">
    <div class="new-pc-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</div>
</div>


<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>

<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>
<div class="new-pc-row">
    <div class="open">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</div>
    <div class="new-pc-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Eget est lorem ipsum dolor sit amet consectetur. Lorem
        dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Volutpat diam ut venenatis
        tellus in metus vulputate eu scelerisque. Convallis posuere morbi leo urna molestie at
        elementum.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>


<include href="{{ @INC . 'new-footer.inc.html' }}" >
