<!--
 * File Name: resultsbytopic.html
 * Author: Marlene Leano
 * Date Created: 11/07/2017
 * Assignment: Behind The Knife: The Surgery App
 * Description: List of podcasts related to selected topic
-->

<include href="{{ @INC . 'new-header.inc.html' }}">

<h1 class="title">Surgery Legends</h1>
<div class="subtitle">click to play</div>

<!--
<repeat group="{{ @podcasts }}" value="{{ @podcast }}">
    <div class="new-pc-row pc-title">
        <div class="new-pc-title">{{ @podcast->getTitle() }}</div>
    </div>
    <div class="new-pc-row pc-description">
        <div class="new-pc-desc">
            {{ @podcast->getDescription() }}
        </div>
        <div class="new-pc-duration">{{ @podcast->getDuration() }}</div>
    </div>
</repeat>
-->

<!--Repetition-->
<div class="new-pc-row pc-title">
    <div class="new-pc-title">Mock Orals #6: Thoracic Surgery with Dr. Kathleen Berfield</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Kathleen Berfield, Chief of Thoracic Surgery at the Seattle VA, takes Woo Do and Kevin Kniery through 4 mock oral board scenarios.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Ovarian masses and torsion with Dr. Guntupalli (featuring Dominic Forte)</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Behind the Knife coverage of the 2017 American College of Surgeons Clinical Congress: Dr. Saketh Guntupalli (Gynecologic
        Oncology, University of Colorado) takes Woo Do and Dominic Forte through the workup and management of benign and malignant
        ovarian masses and offers surgical tips for ovarian torsion.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">The Future of Surgical Education with Drs. Amalia Cochran and Moshen Shabahang</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        The President of the Association for Surgical Education (Dr. Amalia Cochran) and Chair of the Committee on Graduate Surgical
        Education (Dr. Mo Shabahang) explore the future of surgical education (competency-based training that departs from traditional
        time-in-service models) and share their insights on helping struggling residents. 
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Dr. Douglas Wood – Thoracic Surgery, Central Lung Cancer, Hilar Bleeding, and Massive Hemoptysis</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Douglas Wood, Chair of Surgery at the University of Washington, discusses thoracic surgery, carinal pneumonectomy
        (complete resection of a central tumor that would be deemed unresectable by traditional recommendations), bleeding from the
        hilum, and massive hemoptysis.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<!--Repeated-->
<div class="new-pc-row pc-title">
    <div class="new-pc-title">Mock Orals #6: Thoracic Surgery with Dr. Kathleen Berfield</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Kathleen Berfield, Chief of Thoracic Surgery at the Seattle VA, takes Woo Do and Kevin Kniery through 4 mock oral board scenarios.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Ovarian masses and torsion with Dr. Guntupalli (featuring Dominic Forte)</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Behind the Knife coverage of the 2017 American College of Surgeons Clinical Congress: Dr. Saketh Guntupalli (Gynecologic
        Oncology, University of Colorado) takes Woo Do and Dominic Forte through the workup and management of benign and malignant
        ovarian masses and offers surgical tips for ovarian torsion.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">The Future of Surgical Education with Drs. Amalia Cochran and Moshen Shabahang</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        The President of the Association for Surgical Education (Dr. Amalia Cochran) and Chair of the Committee on Graduate Surgical
        Education (Dr. Mo Shabahang) explore the future of surgical education (competency-based training that departs from traditional
        time-in-service models) and share their insights on helping struggling residents. 
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Dr. Douglas Wood – Thoracic Surgery, Central Lung Cancer, Hilar Bleeding, and Massive Hemoptysis</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Douglas Wood, Chair of Surgery at the University of Washington, discusses thoracic surgery, carinal pneumonectomy
        (complete resection of a central tumor that would be deemed unresectable by traditional recommendations), bleeding from the
        hilum, and massive hemoptysis.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>
<div class="new-pc-row pc-title">
    <div class="new-pc-title">Mock Orals #6: Thoracic Surgery with Dr. Kathleen Berfield</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Kathleen Berfield, Chief of Thoracic Surgery at the Seattle VA, takes Woo Do and Kevin Kniery through 4 mock oral board scenarios.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Ovarian masses and torsion with Dr. Guntupalli (featuring Dominic Forte)</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Behind the Knife coverage of the 2017 American College of Surgeons Clinical Congress: Dr. Saketh Guntupalli (Gynecologic
        Oncology, University of Colorado) takes Woo Do and Dominic Forte through the workup and management of benign and malignant
        ovarian masses and offers surgical tips for ovarian torsion.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">The Future of Surgical Education with Drs. Amalia Cochran and Moshen Shabahang</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        The President of the Association for Surgical Education (Dr. Amalia Cochran) and Chair of the Committee on Graduate Surgical
        Education (Dr. Mo Shabahang) explore the future of surgical education (competency-based training that departs from traditional
        time-in-service models) and share their insights on helping struggling residents. 
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Dr. Douglas Wood – Thoracic Surgery, Central Lung Cancer, Hilar Bleeding, and Massive Hemoptysis</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Douglas Wood, Chair of Surgery at the University of Washington, discusses thoracic surgery, carinal pneumonectomy
        (complete resection of a central tumor that would be deemed unresectable by traditional recommendations), bleeding from the
        hilum, and massive hemoptysis.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Mock Orals #6: Thoracic Surgery with Dr. Kathleen Berfield</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Kathleen Berfield, Chief of Thoracic Surgery at the Seattle VA, takes Woo Do and Kevin Kniery through 4 mock oral board scenarios.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Ovarian masses and torsion with Dr. Guntupalli (featuring Dominic Forte)</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Behind the Knife coverage of the 2017 American College of Surgeons Clinical Congress: Dr. Saketh Guntupalli (Gynecologic
        Oncology, University of Colorado) takes Woo Do and Dominic Forte through the workup and management of benign and malignant
        ovarian masses and offers surgical tips for ovarian torsion.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">The Future of Surgical Education with Drs. Amalia Cochran and Moshen Shabahang</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        The President of the Association for Surgical Education (Dr. Amalia Cochran) and Chair of the Committee on Graduate Surgical
        Education (Dr. Mo Shabahang) explore the future of surgical education (competency-based training that departs from traditional
        time-in-service models) and share their insights on helping struggling residents. 
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>

<div class="new-pc-row pc-title">
    <div class="new-pc-title">Dr. Douglas Wood – Thoracic Surgery, Central Lung Cancer, Hilar Bleeding, and Massive Hemoptysis</div>
</div>
<div class="new-pc-row pc-description">
    <div class="new-pc-desc">
        Dr. Douglas Wood, Chair of Surgery at the University of Washington, discusses thoracic surgery, carinal pneumonectomy
        (complete resection of a central tumor that would be deemed unresectable by traditional recommendations), bleeding from the
        hilum, and massive hemoptysis.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>


<include href="{{ @INC . 'new-footer.inc.html' }}" >
