<!--
 * File Name: resultsbytopic.html
 * Author: Marlene Leano
 * Date Created: 11/07/2017
 * Assignment: Behind The Knife: The Surgery App
 * Description: List of podcasts related to selected topic
-->

<include href="{{ @INC . 'new-header.inc.html' }}">

<h1 class="title">Surgery Legends</h1>
<div class="subtitle">click to play</div>


<div class="new-pc-row">
    <div class="new-pc-title">Mock Orals #6: Thoracic Surgery with Dr. Kathleen Berfield</div>
</div>


<div class="new-pc-row">
    <div class="new-pc-title">The Future of Surgical Education with Drs. Amalia Cochran and Moshen Shabahang</div>
</div>

<div class="new-pc-row">
    <div class="new-pc-title">John Cameron</div>
</div>
<div class="new-pc-row">
    <div class="open">Ovarian masses and torsion with Dr. Guntupalli (featuring Dominic Forte)</div>
    <div class="new-pc-desc">
        Behind the Knife coverage of the 2017 American College of Surgeons Clinical Congress: Dr.
        Saketh Guntupalli (Gynecologic Oncology, University of Colorado) takes Woo Do and Dominic
        Forte through the workup and management of benign and malignant ovarian masses and offers
        surgical tips for ovarian torsion.
    </div>
    <div class="new-pc-duration">01:23:45</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">Dr. Douglas Wood - Thoracic Surgery, Central Lung Cancer, Hilar Bleeding, and Massive Hemoptysis</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">Dr. Alex Eastman - Disaster Management, Active Shooters, and Trauma Surgery</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">The Boss of Shock Trauma, Dr. Thomas Scalea</div>
</div>
<div class="new-pc-row">
    <div class="new-pc-title">BTK Updates + Dr. Mattox Rewind</div>
</div>


<include href="{{ @INC . 'new-footer.inc.html' }}" >
